@import url(https://fonts.googleapis.com/css?family=VT323);

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  background-color: #f0f0f0;
  height: 100%;
  margin: 0;
  line-height: 1.5;
  color: #121212;
  font-family: "VT323", monospace;
}
input {
  width: 100%;
}

.btn {
  background: #7c7c7c;
  border-bottom: 6px inset rgba(0, 0, 0, 0.5);
  border-left: 6px inset rgba(0, 0, 0, 0.5);
  border-right: 6px inset rgba(255, 255, 255, 0.5);
  border-top: 6px inset rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  width: auto;
  text-align: center;

  &:focus,
  &:hover {
    background: #bcbcbc;
  }
}

.sider-1 {
  background-color: lightgray;
  height: 100%;
  width: 50px;
  padding: 5px;
  border-right: 2px solid gr;
}

.btn-sider-1 {
  // inherit .btn
  @extend .btn;
  width: 100%;
  margin-bottom: 5px;
  font-size: 20px;
}

.input-sider-2 {
  background-color: white;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}

.btn-sider-2 {
  background-color: white;
  border: 1px solid rgb(0, 0, 0);
  padding: 5px;
  margin: 5px;
  color: black;
  font-size: 20px;
}

.sider-2 {
  background-color: white;
  height: 100%;
  width: 200px;
  border-right: 1px solid #ccc;
  padding: 5px;
}

.content {
  background-color: white;
  height: 100%;
  width: 100%;
}

.editor {
  border: solid 1px #ccc;
  padding: 20px;
  height: 680px;
  width: 590px;
  font-size: 20px;
}
